PatientClient/PatientClient/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Appointment_Serves" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Appointment_Serves" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Appointment_Serves/IAppointment/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Patient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence>
          <xs:element name="_x003C_BloodType_x003E_k__BackingField" type="ser:char" />
          <xs:element name="_x003C_ConsultationId_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_DiagnosisId_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_Height_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_InsuranceNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_PatientID_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_PrescriptionId_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_Smoker_x003E_k__BackingField" type="xs:boolean" />
          <xs:element name="_x003C_SmokingFrequency_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_Weight_x003E_k__BackingField" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element name="_x003C_Address_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DateOfBirth_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Gender_x003E_k__BackingField" type="ser:char" />
      <xs:element name="_x003C_LandLineNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MobileNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PersonId_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfPatient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatient" nillable="true" type="tns:ArrayOfPatient" />
  <xs:complexType name="ArrayOfAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment" type="tns:Appointment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointment" nillable="true" type="tns:ArrayOfAppointment" />
  <xs:complexType name="Appointment">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="appointmentID" type="xs:int" />
      <xs:element name="end_date" type="xs:dateTime" />
      <xs:element name="patient_id" type="xs:int" />
      <xs:element name="staff_id" type="xs:int" />
      <xs:element name="start_date" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appointment" nillable="true" type="tns:Appointment" />
</xs:schema>