Doctor Client/Service References/ServerConnectionAgenda/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Appointment_businesslayer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Appointment_Serves" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppointment_SearchappointmentsbyDate_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchappointmentsbyDate" />
  </wsdl:message>
  <wsdl:message name="IAppointment_SearchappointmentsbyDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchappointmentsbyDateResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointment_getAppointmnetsOfToday_InputMessage">
    <wsdl:part name="parameters" element="tns:getAppointmnetsOfToday" />
  </wsdl:message>
  <wsdl:message name="IAppointment_getAppointmnetsOfToday_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAppointmnetsOfTodayResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointment_SearchAppointmentsByStaffID_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchAppointmentsByStaffID" />
  </wsdl:message>
  <wsdl:message name="IAppointment_SearchAppointmentsByStaffID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchAppointmentsByStaffIDResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointment_getAppointmentsHistorybyPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:getAppointmentsHistorybyPatient" />
  </wsdl:message>
  <wsdl:message name="IAppointment_getAppointmentsHistorybyPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAppointmentsHistorybyPatientResponse" />
  </wsdl:message>
  <wsdl:portType name="IAppointment">
    <wsdl:operation name="SearchappointmentsbyDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointment/SearchappointmentsbyDate" message="tns:IAppointment_SearchappointmentsbyDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointment/SearchappointmentsbyDateResponse" message="tns:IAppointment_SearchappointmentsbyDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAppointmnetsOfToday">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointment/getAppointmnetsOfToday" message="tns:IAppointment_getAppointmnetsOfToday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointment/getAppointmnetsOfTodayResponse" message="tns:IAppointment_getAppointmnetsOfToday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchAppointmentsByStaffID">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointment/SearchAppointmentsByStaffID" message="tns:IAppointment_SearchAppointmentsByStaffID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointment/SearchAppointmentsByStaffIDResponse" message="tns:IAppointment_SearchAppointmentsByStaffID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAppointmentsHistorybyPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointment/getAppointmentsHistorybyPatient" message="tns:IAppointment_getAppointmentsHistorybyPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointment/getAppointmentsHistorybyPatientResponse" message="tns:IAppointment_getAppointmentsHistorybyPatient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAppointment" type="tns:IAppointment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchappointmentsbyDate">
      <soap:operation soapAction="http://tempuri.org/IAppointment/SearchappointmentsbyDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmnetsOfToday">
      <soap:operation soapAction="http://tempuri.org/IAppointment/getAppointmnetsOfToday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAppointmentsByStaffID">
      <soap:operation soapAction="http://tempuri.org/IAppointment/SearchAppointmentsByStaffID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAppointmentsHistorybyPatient">
      <soap:operation soapAction="http://tempuri.org/IAppointment/getAppointmentsHistorybyPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Appointment_businesslayer">
    <wsdl:port name="BasicHttpBinding_IAppointment" binding="tns:BasicHttpBinding_IAppointment">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Appointment_Serves/IAppointment/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>