Doctor Client/Service References/ServerConnection/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DMS_Service" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetPatient_by_lastName_DateOfBirth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateOfBirth" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatient_by_lastName_DateOfBirthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="GetPatient_by_lastName_DateOfBirthResult" nillable="true" type="q1:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getnextConsultationID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getnextConsultationIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getnextConsultationIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConsultationHistorybyPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Patientid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConsultationHistorybyPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="getConsultationHistorybyPatientResult" nillable="true" type="q2:ArrayOfConsultation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDiagnosisHistoryByPersionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Patientid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDiagnosisHistoryByPersionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="getDiagnosisHistoryByPersionIDResult" nillable="true" type="q3:ArrayOfDiagnosis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Passward" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="LoginResult" nillable="true" type="q4:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientOverview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientOverviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="GetPatientOverviewResult" nillable="true" type="q5:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateConsultion_End_Date">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="currentConultion" type="q6:Consultation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateConsultion_End_DateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateConsultion_End_DateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addConsultion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="currentConsultation" type="q7:Consultation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addConsultionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addConsultionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaff_by_staff_id">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaff_by_staff_idResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="GetStaff_by_staff_idResult" nillable="true" type="q8:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaff_by_Personid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStaff_by_PersonidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="GetStaff_by_PersonidResult" nillable="true" type="q9:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDiseases">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientDiseasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPatientDiseasesResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientAppointments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientAppointmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="getPatientAppointmentsResult" nillable="true" type="q11:ArrayOfAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientPerscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPatientPerscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="getPatientPerscriptionsResult" nillable="true" type="q12:ArrayOfPerscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPatients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="first" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="last" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="insurance" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="SearchPatientsResult" nillable="true" type="q13:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPerscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentID" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="perscription" type="q14:Perscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setPerscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setPerscriptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPerscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentID" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="perscription" type="q15:Perscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPerscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPerscriptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDiagnosis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="diagnosis" type="q16:Diagnosis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDiagnosisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addDiagnosisResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addTestPatient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addTestPatientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addTestAppointment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addTestAppointmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>