Administration/Service References/serverAdministration/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" />
  <xs:element name="addPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="person" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="person" nillable="true" type="q2:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="patient" nillable="true" type="q3:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="patient" nillable="true" type="q4:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="staff" nillable="true" type="q5:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addStaffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="staff" nillable="true" type="q6:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editStaffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="staff" nillable="true" type="q7:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeStaffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStaff">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="getAllStaffResult" nillable="true" type="q8:ArrayOfStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStaffById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStaffByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="getStaffByIdResult" nillable="true" type="q9:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="searchStaffResult" nillable="true" type="q10:ArrayOfStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>