Administration/Service References/serverAdministration/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DMS_Service" />
  <xs:element name="addPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="person" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="person" nillable="true" type="q2:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="person" nillable="true" type="q3:Person" />
        <xs:element minOccurs="0" name="completely" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removePersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="patient" nillable="true" type="q4:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="patient" nillable="true" type="q5:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="patient" nillable="true" type="q6:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removePatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="staff" nillable="true" type="q7:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addStaffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="staff" nillable="true" type="q8:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editStaffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="staff" nillable="true" type="q9:Staff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeStaffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DMS_Service" minOccurs="0" name="t" type="q10:CAdministration.task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hasPermissionsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStaff">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="getStaffResult" nillable="true" type="q11:ArrayOfStaff" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>