DMS Service/Service References/MySynchroniseService/DMS_Service.Structs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Patient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Person">
        <xs:sequence>
          <xs:element name="_x003C_BloodType_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_ConsultationId_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_DiagnosisId_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_Height_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_PatientID_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_PrescriptionId_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_Smoker_x003E_k__BackingField" type="xs:boolean" />
          <xs:element name="_x003C_SmokingFrequency_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_Weight_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_hard_drugs_frequency_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_hard_drugs_x003E_k__BackingField" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Patient" nillable="true" type="tns:Patient" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element name="_x003C_Address_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DateOfBirth_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Gender_x003E_k__BackingField" type="ser:char" />
      <xs:element name="_x003C_InsuranceNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LandLineNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MobileNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PersonId_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="Perscription">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="amount_ml" type="xs:int" />
      <xs:element minOccurs="0" name="amount_pills" type="xs:int" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="doctor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="doctorId" type="xs:int" />
      <xs:element minOccurs="0" name="medicine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perscription" nillable="true" type="tns:Perscription" />
</xs:schema>