DMS Service/Service References/MySynchroniseService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" />
  <xs:element name="addPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="patient" nillable="true" type="q1:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAppointment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffLastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patientMail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAppointmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addAppointmentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="patient" nillable="true" type="q2:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editPatientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPrescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appointmentId" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DMS_Service.Structs" minOccurs="0" name="per" type="q3:Perscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPrescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addPrescriptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setBackup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gds_mis" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="gds_mis_agenda" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="gds_mis_auth" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setBackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="setBackupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="forcePushBackup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="forcePushBackupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="forcePushBackupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>