DMS Service/Service References/MySynchroniseService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CSynchronise" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DMS_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISynchronise_addPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:addPatient" />
  </wsdl:message>
  <wsdl:message name="ISynchronise_addPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:addPatientResponse" />
  </wsdl:message>
  <wsdl:message name="ISynchronise_addAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:addAppointment" />
  </wsdl:message>
  <wsdl:message name="ISynchronise_addAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:addAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="ISynchronise_addStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:addStaff" />
  </wsdl:message>
  <wsdl:message name="ISynchronise_addStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:addStaffResponse" />
  </wsdl:message>
  <wsdl:portType name="ISynchronise">
    <wsdl:operation name="addPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/ISynchronise/addPatient" message="tns:ISynchronise_addPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISynchronise/addPatientResponse" message="tns:ISynchronise_addPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISynchronise/addAppointment" message="tns:ISynchronise_addAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISynchronise/addAppointmentResponse" message="tns:ISynchronise_addAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/ISynchronise/addStaff" message="tns:ISynchronise_addStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISynchronise/addStaffResponse" message="tns:ISynchronise_addStaff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISynchronise" type="tns:ISynchronise">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addPatient">
      <soap:operation soapAction="http://tempuri.org/ISynchronise/addPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAppointment">
      <soap:operation soapAction="http://tempuri.org/ISynchronise/addAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addStaff">
      <soap:operation soapAction="http://tempuri.org/ISynchronise/addStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSynchronise">
    <wsdl:port name="BasicHttpBinding_ISynchronise" binding="tns:BasicHttpBinding_ISynchronise">
      <soap:address location="http://192.168.1.5:8733/Design_Time_Addresses/DMS_Service/CSynchronise/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>